#waybar {
	background-color: transparent;
	border-radius: 8px;
	color: #eee;
	font-size: 14px;
  font-family: "Fira Code"
}

.module {
}

#signal,
#audio-visual,
#perf {
  margin-right: 8px;
}

#audio-visual .module {
  margin-right: 8px;
}

#audio-visual #pulseaudio-slider {
  margin-right: 0px;
}

#perf .module {
  margin-right: 8px;
}

#perf #memory {
  margin-right: 0px;
}

#core .module {
  margin-right: 8px;
}

#core #clock {
  margin-right: 0px;
}

.modules-left,
#signal,
#audio-visual,
#core,
#perf {
	background-color: #2d353b;
	border-radius: 8px;
	color: #d3c6aa;
	font-size: 16px;
  padding: 0px 8px;
}

#signal {
  background-color: #425047;
}

#audio-visual {

}

#custom-sound-icon {
  color: #7fbbb3;
}

#pulseaudio-slider {
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 16px;
    min-width: 100px;
    border-radius: 4px;
    background-color: #3a515d;
    border: none;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 4px;
    border: none;
    background-color: #7fbbb3;
}


#workspaces {
  padding: 0px;
  /* padding-left: 16px; */
}

.modules-left {
  padding: 0px;
  background-color: unset;
}

#workspaces button {
  border-radius: 0;
  min-height: unset;
  min-width: unset;
  background-color: #2d353b;
	color: #D3C6AA;
}

#workspaces button:first-child {
  border-radius: 8px 0px 0px 8px;
}
#workspaces button:last-child {
  border-radius: 0px 8px 8px 0px;
}

#workspaces button.active {
  background-color: #A7C080;
	color: rgb(45, 53, 59);
}

#workspaces button.focused {
  background-color: #A7C080;
	color: rgb(45, 53, 59);
}

#workspaces button.hover {
  background-color: #A7C080;
	color: rgb(45, 53, 59);
}
