#waybar {
	background-color: transparent;
	border-radius: 8px;
	color: #eee;
	font-size: 14px;
}

.module {
}

#signal,
#perf {
  margin-right: 8px;
}

/*.modules-center,*/
.modules-left,
#signal,
#core,
#perf {
	background-color: #111;
	border-radius: 8px;
	color: #eee;
	font-size: 16px;
  padding: 0px 8px;
}

.good {
  background-color: red;
}

#workspaces {
  padding: 0px;
  /* padding-left: 16px; */
}

#workspaces button {
  min-height: unset;
  min-width: unset;
  background-color: #343F44;
  border-radius: 0;
	color: #D3C6AA;
}

#workspaces button.active {
  border-radius: 0;
  background-color: #A7C080;
	color: rgb(45, 53, 59);
}

#workspaces button.focused {
  border-radius: 0;
  background-color: #A7C080;
	color: rgb(45, 53, 59);
}
