snippet iife Create an iife
	(() => {
		${0}
	})()

snippet aiife Create an async iife
	(async () => {
		${0}
	})()

snippet rhe React hook default export
	import React from 'react';

	function use${1:HookName}() {
		${0}
	}

	export default use${1:HookName};

